<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated myShoppingMall -->
      <package
            uri="http://www.myshoppingmall.com/1.0"
            class="myShoppingMall.MyShoppingMallPackage"/>
   </extension>

</plugin>
